/*=============================================
=            Variables            =
=============================================*/
@font-face {
    font-family: "Monocraft";
    src: url(./fonts/monocraft.ttf) format("truetype");
}
@font-face {
    font-family: "Superstar";
    src: url(./fonts/superstar.ttf) format("truetype");
}

:root {
    /* Main Colors*/
    --primary: #84c3ec;
    --secondary: #132637;
    --accent: #84c3ec;
    --white: #ffffff;

    /* Text Colors */
    --headingDark: #0e1110;
    --paragraphDark: #191c1b;
    --headingLight: #fefbfd;
    --paragraphLight:#ffffff ;

    /* Backgrounds & Cards */
    --bgLight: #242a33;
    --bgMedium: #14181f;
    --bgDark: #060c11;
    --bgWhite: #ffffff;

    /* Utility */
    --success: ;
    --danger: ;
    --shadow: ;

    /* Fonts */
    --hFont: 'superstar', Verdana;
    --cFont: 'Monocraft', Lucida Console;
    --pFont: 'Monocraft', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bgLight);
}

* {
    margin: 0px;
    padding: 0px;
}

main {
    min-height: min(100vh, 900px);
}

/*=============================================
=            Utility Classes            =
=============================================*/
.align-center {
    align-items: center;
    display: flex;
}
.align-end {
	align-items: flex-end;
	display: flex;
}
.align-start {
	 align-items: flex-start;
	 display: flex;
}
.border1 {
	border-radius: 5px;
}
.border2 {
	border-radius: 10px;	
}
.center {
	align-items: center;
	justify-content: center;
}
.divider {
	border-color: var(--paragraph);
	margin: var(--tiny) auto;
	width: 95%;
}
.flex {
	display: flex;
}
.flex-col {
	display: flex;
	flex-direction: column;
}
.flex-wrap {
	display: flex;
	flex-wrap: wrap;
}
.cFont {
    font-family: var(--cFont);
}
.hFont {
	font-family: var(--hFont);
}
.pFont {
	font-family: var(--pFont);
}
.justify-around {
	display: flex;
	justify-content: space-around;
}
.justify-between {
	display: flex;
	justify-content: space-between;
}
.justify-center {
	display: flex;
	justify-content: center;
}
.justify-evenly {
	display: flex;
	justify-content: space-evenly;
}
.list-style-none {
	list-style-type: none;
	padding: 0px;
}
.text-align-center {
	text-align: center;
}
.text-deco-none {
	text-decoration: none;
}
.trans-ease-in {
	transition: ease-in 0.3s;
}
.trans-ease-out {
	transition: ease-out 0.3s;
}
.width-limiter {
    height: inherit;
    margin: auto;
    max-width: 1440px;
}
/*=====  End of Utility Classes  ======*/


/*=============================================
=            Spceifics            =
=============================================*/


/*----------  Header  ----------*/
header {
    background-color: var(--bgDark);
    height: 70px;
    padding: 0rem 2rem;
    position: sticky;
    top: 0px;
    user-select: none;
    z-index: 10;
}
header .width-limiter {
    height: 70px;
}

#logo-text {
    color: var(--headingLight);
    font-family:  var(--hFont);
    font-size: 1.5rem;
    gap: 1rem;
    letter-spacing: 3px;
    text-decoration: none;
}

#section-links { 
    font-family:  var(--hFont);
    gap: 0.5rem;
    list-style: none;
}
#section-links button {
    align-items: center;
    background-color: var(--bgDark);
    border: none;
    box-shadow: 0px -1px 0px transparent;
    color: var(--headingLight);
    cursor: pointer;
    display: flex;
    font-family:  var(--hFont);
    font-size: 1.3rem;
    letter-spacing: 2px;
    padding: 0.5rem 0.75rem;
    transition: 0.3s ease-out;
}
#nav-links button:hover {
    box-shadow: 0px -2px 0px var(--accent);
    color: var(--accent);
}

#social-links {
    list-style: none;
    gap: 1rem;
}

#social-links a {
    border-radius: 10px;
    display: block;
    height: 25px;
    outline: 2px solid var(--headingLight);
    padding: 8px;
    transition: ease-in-out 0.3s;
    width: 25px;
}
#social-links a:hover {
    animation: shake 0.25s;
    outline-offset: 5px;
}

@keyframes shake {
    10% {
        transform: rotate(10deg);
    }
    20% {
        transform: rotate(-10deg);
    }
    30% {
        transform: rotate(10deg);
    }
    40% {
        transform: rotate(-10deg);
    }
}
#instagram:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    outline-color: #f09433;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
#github:hover {
    background-color: #333;
    outline-color: #333;
}
#linkedIn:hover {
    background-color: #0072b1;
    outline-color: #0072b1;
}

#lets-talk {
    background-color: var(--primary);
    border-radius: 10px;
    border: 2px solid var(--bgDark);
    color: var(--headingLight);
    cursor: pointer;
    font-family:  var(--hFont);
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 0.7rem 1rem;
    transition: 0.3s ease-in-out;
}

#lets-talk:hover {
    background-color: var(--bgMedium);
    border-color: var(--primary);
    color: var(--primary);
}

#side-nav-btn {
    align-items: center;
    background-color: var(--bgLight);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: flex;
    padding:  5px;
    transition: 0.2s ease-out;
}
#side-nav-btn:hover {
    transform: scale(1.05);
}
#side-nav-btn:active {
    transform: scale(0.95);
}
#side-nav-btn.opened {
    background-color: var(--secondary);
}

/*----------  Side Navigation  ----------*/
#side-nav {
    background-color: var(--secondary);
    border-radius: 0px 0px 0px 5px;
    box-shadow: 0px 5px 5px var(--bgDark);
    height: fit-content;
    position: fixed;
    right: -200px;
    top: 70px;
    width: 200px;
    transition: 0.2s ease-in-out;
    user-select: none;
    z-index: 9;
}
#side-nav.opened {
    right: 0px;
}

#side-nav button {
    background-color: transparent;
    border: 3px solid transparent;
    color: var(--headingLight);
    cursor: pointer;
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 1.25rem 0rem;
    transition: 0.2s ease-in-out;
    width: 200px;
}
#side-nav button:hover {
    background-color: var(--accent);
    color: var(--bgMedium);
}

/*----------  Footer  ----------*/
footer {
    height: fit-content;
}

/* Footer Top */
#footer-top {
    background-color:  var(--secondary);
}
#footer-top>div {
    display: flex;
    gap: 3rem;
    padding: 3rem 2rem;
    justify-content: space-evenly;
}

.bible-verse {
    background-color: var(--bgDark);
    border-radius: 5px;
    height: fit-content;
    padding: 1rem;
    width: clamp(275px, 80%, 500px);
}

.verse-parag {
    color: var(--white);
    font-family: var(--pFont);
    font-size: 1rem;
    line-height: 1.7rem;
    text-align: justify;
}

.footer-subcont-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
    row-gap: 2rem;
    width: clamp( 300px, 40%, 600px);
}

.footer-subcont {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.footer-subheader {
    color: var(--primary);
    font-family: var(--hFont);
    font-size: 1.5rem;
    letter-spacing: 3px;
}

.footer-subcont button {
    background-color: transparent;
    border: none;
    color: var(--white);
    cursor: pointer; 
    font-family: var(--pFont);
    font-size: 1rem;
    padding: 0.7rem 1rem;
    width: fit-content;
}
.footer-subcont button:hover {
    background-color: var(--bgDark);
}

.message-form-container {
    width: 300px;
}

.message-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input {
    background-color: var(--bgMedium);
    border: none;
    border-radius: 3px 3px 3px 3px;
    box-shadow: -3px 0px 0px transparent;
    color: var(--white);
    font-family: var(--pFont);
    font-size: 1rem;
    outline: none;
    padding: 10px 15px;
    resize: none;
    transition: 0.3s ease-in-out;
}
.input:focus {
    border-radius: 0px 3px 0px 0px;
    box-shadow: -3px 0px 0px var(--accent);
}

.message-submit {
    background-color: var(--accent);
    border-radius: 3px;
    border: 2px solid transparent;
    color: var(--bgDark);
    cursor: pointer;
    font-family: var(--pFont);
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 0.5rem;
    transition: 0.3s ease-in-out;
}
.message-submit:hover {
    background-color:  var(--bgMedium);
    border: 2px solid var(--primary);
    color: var(--primary);
}

/*  Footer Bottom */
#footer-bot {
    background-color: var(--bgDark);
}
#footer-bot>div{
    color: var(--white);
    display: flex;
    font-family: var(--pFont);
    height: 50px;
    justify-content: space-between;
    padding: 0rem 2rem;
}

#copyright p {
    font-size: 0.8rem;
}

.foot-socials{
    align-items: center;
    display: flex;
    gap: 2rem;
}
.foot-socials a, .foot-socials button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 11px 12.5px;
}
.foot-socials a:hover, .foot-socials button:hover {
    background-color: var(--secondary);
}
.foot-socials img {
    height: 25px;
    width: 25px;
}

/*----------  Sections  ----------*/
.span-title-landing {
    color: var(--accent);
    display: block;
    font-family: var(--pFont);
    font-size: 1.1rem;
    letter-spacing: 1px;
    margin-bottom: -5px;
}
.span-title {
    color: var(--accent);
    display: block;
    font-family: var(--pFont);
    font-size: 1rem;
    letter-spacing: 1px;
    margin: 1px auto -10px;    
    width: fit-content;
    text-transform: capitalize;
}

.section-heading {
    color: var(--white);
    display: block;
    font-family: var(--hFont);
    font-size: 2.5rem;
    letter-spacing: 3px;
    margin: 0rem auto;
    width: fit-content;
}

.section-subheading {
    color: var(--white);
    display: block;
    font-family: var(--hFont);
    font-size: 2rem;
    letter-spacing: 3px;
    width: fit-content;
}

.paragraph {
    color: var(--paragraphLight);
    font-family: var(--pFont);
    font-size: 1.1rem;
    line-height: 2rem;
    margin: 1rem 0rem 1rem;
    text-align: justify;
    text-shadow: 3px 3px 3px var(--bgDark);
}

/* Section List */
.section-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    margin-bottom: 1.5rem;
}
.section-list li {
    background-color: var(--secondary);
    border-radius: 5px;
    color: var(--accent);
    font-family: var(--pFont);
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0.8rem 1rem;
    width: fit-content;
}

.section-list.cap li {
    text-transform: capitalize;
}

/* Mini Cards */
.mini-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1.5rem;
}
.mini-card {
    background-color: var(--secondary);
    border-radius: 5px;
    font-family: var(--pFont);
    font-size: 1.1rem;
    padding: 1rem 1.2rem;
    width: clamp(275px, 40%, 300px);
}
.mini-card>:last-child {
    margin-bottom: 0rem;
}
.mini-card h4 {
    color: var(--accent);
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.mini-card p {
    color: var(--white);
    font-size: 1rem;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.mini-card span {
    color: var(--accent);
}


/*----------  Landing Section  ----------*/
section#landing {
    background-color: var(--bgLight);
    position: relative;
}
section#landing>.width-limiter {
    align-items: center;
    display: flex;
    height: 720px;
    justify-content: center;
}

#landing-content {
    height: 300px;
    margin: 0px -250px -50px 50px;
    padding: 2rem;
    width: 700px;
    z-index: 2;
}
#landing-content h1 {
    color: var(--white);
    font-family: var(--hFont);
    font-size: 3.5rem;
    letter-spacing: 3px;
    line-height: 3rem;
    margin: 5px 0px;
    text-shadow: 4px 4px 4px var(--bgDark);
}

#projects-button {
    background: var(--accent);
    border-radius: 10px;
    border: none;
    color: var(--secondary);
    cursor: pointer;
    font-family: var(--hFont);
    font-size: 1.3rem;
    height: 3.5rem;
    letter-spacing: 3px;
    margin: 1rem 0rem;
    overflow: hidden;
    padding: 0.5rem;
        padding-left: 1.5rem;
        padding-right: 4rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: inset 0 0 1.6em -0.6em var(--accent);
            box-shadow: inset 0 0 1.6em -0.6em var(--accent);
   }
   #projects-button .icon {
    background: var(--white);
    margin-left: 1.5rem;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 2.5rem;
    width: 3rem;
    border-radius: 10px;
    -webkit-box-shadow: 0.1em 0.1em 0.6em 0.2em var(--secondary);
            box-shadow: 0.1em 0.1em 0.6em 0.2em var(--secondary);
    right: 0.3em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
   }
   #projects-button:hover .icon {
    width: calc(100% - 0.6em);
   }
   #projects-button .icon img {
    width: 1.1em;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    color: var(--secondary);
   }
   #projects-button:hover .icon img {
    -webkit-transform: translateX(0.1em);
        -ms-transform: translateX(0.1em);
            transform: translateX(0.1em);
   }
   #projects-button:active .icon {
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95);
   }

section#landing .image-wrapper {
    aspect-ratio: 1/1;
    margin-bottom: -75px;
    overflow: hidden;
    width: clamp(350px, 95%, 550px);
    z-index: 1;
}
section#landing .image-wrapper img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.landing-divider {
    bottom: -1px;
    left: 0;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 3;
}
.landing-divider svg {
    display: block;
    height: 165px;
    position: relative;
    width: calc(140% + 1.3px);
}
.landing-divider .shape-fill {
fill: var(--bgMedium);
}

/*----------  About Me  ----------*/
#about-me {
    background-color: var(--bgMedium);
    padding-bottom: 8rem;
}
#about-me div.width-limiter {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
    padding: 2rem;
    row-gap: 0rem;
}

#about-left {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: fit-content;
    padding: 1rem;
    position: relative;
    width: clamp(250px, 85%, 400px);
}

#about-left .image-wrapper {
    aspect-ratio: 1/1;
    border-radius: 3px;
    overflow: hidden;
    width: clamp(250px, 100%, 400px);
    z-index: 2;
}
#about-left .image-wrapper img {
    height: 100%;
    width: 100%;
}

.float-container {
    animation: float 4s ease infinite;
    aspect-ratio: 1/1;
    position: absolute;
    right: -32px;
    top: -32px;
    width: clamp(250px, 100%, 400px);
    transform: translateY(10px);
    z-index: 1;
}
@keyframes float {
    0% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(10px);
    }
}

.pseudo {
    animation: tilt 4s ease-in-out infinite;
    background-color: var(--secondary);
    border-radius: 3px;
    height: 100%;
    transform: rotate(3deg);
    width: 100%;
    z-index: -1;
}
@keyframes tilt {
    0% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(3deg);
    }
}

/* Send Email Button*/
#send-email {
    align-items: center;
    background-color: var(--bgDark);
    border-radius: 0px;
    border: none;
    box-shadow: 3px 3px 5px var(--bgDark);
    color: var(--white);
    cursor: pointer;
    display: flex;
    font-family: var(--hFont);
    font-size: 1rem;
    font-weight: lighter;
    gap: 10px;
    height: 55px;
    justify-content: center;
    letter-spacing: 2px;
    overflow: hidden;
    position: relative;
    transition-duration: .3s;
    width: 200px;
  }
  #send-email img {
    width: 32px;
  }
  #send-email::before {
    background-color: var(--white);
    border-radius: 50%;
    content: "";
    height: 130px;
    left: -100%;
    mix-blend-mode: difference;
    position: absolute;
    top: 0;
    transition-duration: .5s;
    width: 200px;
  }
  #send-email:hover::before {
    border-radius: 0px;
    transform: translate(100%, -50%);
    transition-duration: .3s;
  }
  #send-email:active {
    transform: translate(5px,5px);
    transition-duration: .3s;
  }

  /* Donwload CV Button */
  #download-cv {
    align-items: center;
    background-color: var(--bgDark);
    border: 2px solid var(--white);
    box-shadow: 3px 3px 5px var(--bgDark);
    color: var(--white);
    display: flex;
    font-family: var(--hFont);
    font-size: 1rem;
    font-weight: lighter;
    height: 55px;
    letter-spacing: 2px;
    position: relative;
    text-align: left;
    transition: all 0.6s ease;
    width: 200px;
  }
  #download-cv:hover {
    background-color: var(--secondary);
    border-color: var(--secondary);
    cursor: pointer;
  }
  #download-cv img {
    position: absolute;
    right: 1rem;
    transition: all 0.6s ease;
    width: 32px;
  }
  #download-cv:hover .text {
    transform: translateX(10px);
  }
  #download-cv:hover img {
    transform: translateX(-7px);
  }
  .text {
    position: absolute;
    left: 1rem;
    transition: all 0.6s ease;
  }

#about-right {
    height: fit-content;
    padding: 1rem;
    width: clamp(300px, 85%, 650px);
}

/*----------  Skills  ----------*/
.skills-divider {
    left: 0;
    line-height: 0;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 100%;
    z-index: -1;
}
.skills-divider svg {
    display: block;
    height: 50px;
    position: relative;
    width: calc(100% + 1.3px);
}
.skills-divider .shape-fill {
    fill: var(--bgMedium);
}

section#skills {
    padding: 3rem 0rem;
    margin-top: -135px;
}
#skills .width-limiter {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem; 
    justify-content: center;
    margin: 2rem auto 3rem;
    padding: 0rem 2rem;
}
#skills .width-limiter:last-child {
    margin: 2rem auto 0rem;
}

.skill-heading {
    color: var(--accent);
    font-family: var(--hFont);
    font-size: 1.75rem;
    letter-spacing: 2px;
    text-align: center;
    margin: 2.5rem 1rem 1rem;
}

.skill-card {
    background-color: var(--bgMedium);
    border-radius: 5px;
    padding: 1rem 0.5rem 0.5rem;
    width: 250px;
    transition: 0.3s ease-out;
}
.skill-card:hover {
    box-shadow: 0px 0px 15px var(--accent);
    transform: scale(1.05);
}
.skill-card img {
    aspect-ratio: 1/1;
    border-radius: 2px;
    display: block;
    margin: 0rem auto 1rem;
    width: 200px;
}

.skill-card p {
    color: var(--white);
    font-family: var(--pFont);
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: capitalize;
}



/*=====  End of Spceifics  ======*/


/*=============================================
=            Break-points            =
=============================================*/

/*----------  Tablets  ----------*/
@media only screen and (max-width: 1080px) {
    #social-links li:last-child {
        display: none;
    }
}

@media only screen and (max-width: 910px) {
    header div.width-limiter {
        justify-content: space-between;
    }

    #social-links {
        display: none;
    }
}
  

/*----------  Mobile Phones  ----------*/
@media only screen and (min-width: 746px) {
    #side-nav-btn {
        display: none;
    }
}
@media only screen and (max-width: 745px) {
    #nav-links {
        display: none;
    }
    header div.width-limiter {
        justify-content: space-between;
        padding: 0rem 1rem;
    }

    section#landing>.width-limiter  {
        flex-direction: column;
    }
    #landing-content {
        margin: 0px 0px -50px 0px;
        width: 80%;
        text-align: center;
    }
    #projects-button {
        margin: 0rem auto;
    }
    
    section#landing .image-wrapper {
        margin-bottom: 0px;
    }
    .landing-divider svg {
        height: 75px;
    }
}

@media only screen and (max-width: 720px) {
    header div.width-limiter {
        padding: 0rem 0rem;
    }
    #footer-top>div {
        align-items: center;
        flex-direction: column;
        padding: 2rem 1rem;
    }
    .footer-subcont {
        width: 300px;
    }
    #copyright p .extension {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .foot-socials {
        gap: 0.5rem;
    }
}
/*=====  End of Break-points  ======*/